<!DOCTYPE html>
<html>
  <head>
    <title>The Soviet Union Government</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 18px;
        line-height: 1.5;
      }
      h1 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        color: rgb(109, 0, 0);
        font-weight: bold;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: center;
      }
      p {
        text-align: justify;
        text-justify: inter-word;
        font-weight:bolder;
      }
    </style>
  </head>
  <body>
    <h1>The Soviet Union Government</h1>
    <ul>
      <p>The Soviet Union is governed by a system of central and local governing bodies. The highest governing body is the Congress of People's Deputies, which is composed of elected representatives from varying levels of society, including workers, farmers, intellectuals, and military personnel. The Congress can pass laws, elect the President of the Soviet Union, and appoint the members of the Supreme Soviet, the highest legislative body in the country.</p>

      <p>The Legislative Branch, the Supreme Soviet, is composed of two chambers: the Soviet of the Union and the Soviet of Nationalities. The Soviet of the Union was made up of representatives elected from each of the republics of the Soviet Union, while the Soviet of Nationalities is composed of representatives from each of the smaller regions within the republics. The Supreme Soviet is responsible for overseeing the work of the Council of Ministers, which is the executive branch of the government.</p>
      <p>The executive branch, headed by the Premier of the Soviet Union, is responsible for enforcing the laws passed by the legislative branch. The Premier was assisted by a cabinet of ministers, each of whom was responsible for a specific area of government.</p>
      <p>The judicial branch is responsible for interpreting the laws passed by the legislative branch and enforcing them in a fair and impartial manner. It is headed by the Supreme Court of the Soviet Union, which was responsible for hearing appeals from lower courts and ensuring that the laws of the land are being upheld.</p>
      <p>Under the Soviet system, each of these branches of government work together to ensure that the needs of the Soviet people are being met.</p>
    </ul>
  </body>
</html>