<!DOCTYPE html>
<html>
    <style>
        body {
          font-family: Arial, sans-serif;
          font-size: 16px;
          line-height: 1.5;
        }
        h1 {
        color: rgb(0, 0, 0);
        font-weight: bold;
      }
      </style>
<body>
<h1>
    Developer:
</h1>
<ul>
    Steven Rud
</ul>
<h1>
    Sources:
</h1>
<ul>
    <li>ChatGPT by OpenAI</li>
    <li>https://en.wikipedia.org/wiki/List_of_leaders_of_the_Soviet_Union</li>
    <li>https://en.wikipedia.org/wiki/Politics_of_the_Soviet_Union#:~:text=The%20political%20system%20of%20the,party%20permitted%20by%20the%20Constitution.</li>
    <li>https://www.history.com/this-day-in-history/gorbachev-elected-president-of-the-soviet-union</li>
    <li>https://www.invaluable.com/v2/auction-lot/special-issue-soviet-pravda-newspaper-1922-274-3--39-c-7bd4e1f989</li>
    <li>https://www.tracesofwar.com/articles/4628/Radio-speech-by-Stalin-03-07-1941.htm</li>
    <li>https://sites.miamioh.edu/havighurst/2018/09/27/comrade-stalin-is-dead/</li>
    <li>https://www.newsmuseum.pt/en/bad-news/cuban-missile-crisis</li>
    <li>https://www.themoscowtimes.com/2017/03/13/rise-fall-stagnation-100-years-of-izvestia-a57392</li>
    <li>https://osaarchivum.org/blog/%E2%80%9Cwe-do-not-want-to-make-that-mistake-again%E2%80%9D-%E2%80%93-when-the-west-did-not-trust-the-soviet-union</li>
    <li>https://rttl.me/2017/10/04/happy-birthday-sputnik-1/</li>
    <li>https://www.alamy.com/stock-photo/baikal-amur-railway-bam-railway.html?sortBy=relevant</li>
    <li>https://en.wikipedia.org/wiki/Nikolai_Ryzhkov#:~:text=Nevertheless%2C%20Ryzhkov%2C%20along%20with%20many,of%20the%20500%20Days%20Programme.</li>
    <li>https://www.britannica.com/biography/Nikolay-Ryzhkov</li>
    <li>https://sputnikmediabank.com/media/843791.html</li>
    <li>https://en.wikipedia.org/wiki/Nikolai_Ryzhkov</li>
    <li>https://en.wikipedia.org/wiki/Premier_of_the_Soviet_Union</li>
    <li>https://soviethistory.msu.edu/1991-2/warsaw-pact-dissolves/warsaw-pact-dissolves-images/#</li>
    <li>https://www.politico.com/story/2017/03/this-day-in-politics-march-31-1991-236664</li>
    <li>https://en.wikipedia.org/wiki/Warsaw_Pact</li>
    <li>https://en.wikipedia.org/wiki/Congress_of_People%27s_Deputies_of_Russia</li>
    <li>https://www.encyclopedia.com/history/encyclopedias-almanacs-transcripts-and-maps/congress-peoples-deputies</li>
    <li>https://www.oxfordreference.com/display/10.1093/oi/authority.20110803095632105;jsessionid=5D1F9B1B5311C0ED55C14187E2921105</li>
    <li>https://en.wikipedia.org/wiki/Congress_of_People%27s_Deputies_of_the_Soviet_Union#:~:text=On%201%20July%201988%2C%20the,Deputies%20of%20the%20Soviet%20Union.</li>
    <li>https://en.wikipedia.org/wiki/Soviet_withdrawal_from_Afghanistan#:~:text=The%20final%20and%20complete%20withdrawal,since%20its%20beginning%20in%201979.</li>
    <li>https://www.washingtonpost.com/archive/politics/1988/12/11/international-assistance-pours-into-armenia/350fcf91-2889-4df2-b316-af345f9bbf3d/</li>
    <li>https://en.wikipedia.org/wiki/Law_on_Freedom_of_Conscience_and_Religious_Associations</li>
    <li>https://en.wikipedia.org/wiki/Russian_citizenship_law</li>
    <li>https://en.wikipedia.org/wiki/Declaration_of_State_Sovereignty_of_the_Russian_Soviet_Federative_Socialist_Republic</li>
    <li>https://en.wikipedia.org/wiki/Law_on_Cooperatives#:~:text=It%20was%20implemented%20in%20May,these%20cooperatives%20should%20be%20managed.</li>
    <li>https://soviethistory.msu.edu/1985-2/cooperatives/cooperatives-texts/law-on-cooperatives/</li>
    <li>https://www.history.com/topics/european-history/history-of-the-soviet-union</li>
    <li>https://www.history.com/news/soviet-union-leaders-order</li>
    <li>https://www.annefrank.org/en/timeline/60/germany-and-the-soviet-union-sign-a-non-aggression-pact/#:~:text=In%20the%20night%20of%2023,Poland%20and%20part%20of%20Lithuania.</li>
    <li>https://daily.jstor.org/the-birth-of-the-soviet-union-and-the-death-of-the-russian-revolution/</li>
    <li>https://www.nytimes.com/1985/03/24/magazine/remaking-afghanistan-in-the-soviet-image.html</li>
</ul>
</body>
</html>